// Logo
.logo {
  gap: 12px;
  display: flex;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
  }
  span {
    width: 340px;
    color: white;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    line-height: 24px;
  }
}

// Header
.header {
  padding: 16px;
  background-color: #001529;
}

// Colors
.blue {
  background-color: #1668dc;
  border-left-color: #b7dcfa !important;
  h3,
  span {
    color: #b7dcfa;
  }
}
.pink {
  background-color: #a02669;
  border-left-color: #fac8c3 !important;
  h3,
  span {
    color: #fac8c3;
  }
}
.green {
  background-color: #49aa19;
  border-left-color: #d5f2bb !important;
  h3,
  span {
    color: #d5f2bb;
  }
}
.purple {
  background-color: #642ab5;
  border-left-color: #ebd7fa !important;
  h3,
  span {
    color: #ebd7fa;
  }
}
.mango {
  background-color: #13a8a8;
  border-left-color: #b2f1e8 !important;
  h3,
  span {
    color: #b2f1e8;
  }
}
.yellow {
  background-color: #d87a16;
  border-left-color: #fae3b7 !important;
  h3,
  span {
    color: #fae3b7;
  }
}

.home {
  min-height: 100vh;
  background: #15213a;

  section {
    padding: 24px;
    border-radius: 4px;
    background: #0f1a30;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 16px;
    color: #ffffff;
  }
  .info {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: ffffff;
  }
  &__teachers {
    &-pie {
      display: flex;
      & > div {
        flex-grow: 1;
        flex-basis: 30%;

        &:nth-child(2) {
          margin: 0 24px;
          padding: 0 24px;
          border-left: 1.5px solid #aaaaaa60;
          border-right: 1.5px solid #aaaaaa60;
        }
      }
      .statbox {
        padding: 12px 24px;
        border-radius: 4px;

        border-left: 3px solid transparent;
        h3 {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          margin-bottom: 8px;
        }
        span {
          font-weight: 600;
          font-size: 30px;
          line-height: 38px;
        }
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
    & > .row {
      gap: 24px;
      display: flex;
      margin-top: 24px;
      section {
        flex-grow: 1;
        flex-basis: 45%;
      }
    }
    .students__top {
      gap: 32px;
      display: flex;

      .student {
        flex-grow: 1;
        padding: 16px;
        background: #0f1a30;
        border-bottom: 2px solid #2f54eb;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03),
          0px 1px 6px -1px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.02);
        border-radius: 4px;

        h2 {
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
          color: rgba(255, 255, 255, 0.88);
        }

        .flex {
          margin-top: 16px;
          h1 {
            font-weight: 600;
            font-size: 30px;
            line-height: 38px;
            color: #2f54eb;
          }
          div {
            h3 {
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
            }
            h4 {
              font-weight: 600;
              font-size: 14px;
              line-height: 22px;
            }
            &:first-child {
              h3 {
                color: #2f54eb;
              }

              h4 {
                color: #2f54eb;
              }
            }
            &:last-child {
              h3 {
                color: #eb2f96;
              }

              h4 {
                color: #eb2f96;
              }
            }
          }
        }
      }
    }
    .flex {
      h2,
      h3 {
        color: white;
      }
    }
  }
}

@media (max-width: 1080px) {
  .home {
    &__teachers {
      .students__top {
        flex-wrap: wrap;
        .student {
          flex-basis: 30%;
        }
      }
      &-pie {
        gap: 36px;
        flex-direction: column;
        & > div {
          &:nth-child(2) {
            margin: 0;
            padding: 0;
            border: none;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .home {
    &__teachers {
      .students__top {
        gap: 16px;
        flex-direction: column;
      }
      & > .row {
        flex-direction: column;
      }
    }
  }
}
