// Logo
.logo {
  gap: 12px;
  display: flex;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
  }
  span {
    width: 340px;
    color: white;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    line-height: 24px;
  }
}

// Header
.header {
  padding: 16px;
  background-color: #001529;
}

// Colors
.blue {
  background-color: #70d7ff;
  // border-left-color: #1668dc !important;
  h3,
  span {
    color: #ffffff;
  }
}
.pink {
  background-color: #da8fff;
  // border-left-color: #fac8c3 !important;
  h3,
  span {
    color: #ffffff;
  }
}
.green {
  background-color: #30db5b;
  // border-left-color: #d5f2bb !important;
  h3,
  span {
    color: #ffffff;
  }
}
.purple {
  background-color: #ff6961;
  // border-left-color: #ebd7fa !important;
  h3,
  span {
    color: #ffffff;
  }
}
.mango {
  background-color: #7d7aff;
  // border-left-color: #b2f1e8 !important;
  h3,
  span {
    color: #ffffff;
  }
}
.yellow {
  background-color: #ffb340;
  // border-left-color: #fae3b7 !important;
  h3,
  span {
    color: #ffffff;
  }
}

.home {
  min-height: 100vh;
  overflow-x: hidden;
  background: #15213a;

  section {
    padding: 24px;
    border-radius: 4px;
    background: #0f1a30;
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 16px;
    color: #ffffff;
  }
  .info {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: ffffff;
  }
  .apexcharts-tooltip {
    color: black;
  }
  &_tabs {
    color: white;
  }
  &__teachers {
    &-pie {
      display: flex;
      & > div {
        flex-grow: 1;
        flex-basis: 30%;

        &:nth-child(2) {
          margin: 0 24px;
          padding: 0 24px;
          border-left: 1.5px solid #aaaaaa60;
          border-right: 1.5px solid #aaaaaa60;
        }
      }
      .statbox {
        padding: 12px 24px;
        border-radius: 4px;

        border-left: 3px solid transparent;
        h3 {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          margin-bottom: 8px;
        }
        span {
          font-weight: 600;
          font-size: 30px;
          line-height: 38px;
        }
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
    & > .row {
      gap: 24px;
      display: flex;
      margin-top: 24px;
      section {
        flex-grow: 1;
        flex-basis: 45%;
      }
    }
    .students__top {
      gap: 32px;
      display: flex;

      .student {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding: 24px;
        border-radius: 4px;
        // background: #0f1a30;
        // border-bottom: 2px solid #409cff;
        // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03),
        //   0px 1px 6px -1px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.02);

        h2 {
          font-size: 28px;
          font-weight: 600;
          line-height: 28px;
          color: #ffffff;
        }

        .flex {
          gap: 36px;
          margin-top: 48px;
          justify-content: flex-start;
          h1 {
            font-weight: 600;
            font-size: 30px;
            line-height: 38px;
            color: #ffffff;
          }
          div {
            h3 {
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              color: white;
            }
            h4 {
              margin-top: 6px;
              font-size: 18px;
              font-weight: 600;
              line-height: 22px;
              color: white;
            }
            &:nth-child(3) {
              flex-grow: 1;
              text-align: end;
            }
          }
        }
        &:nth-child(1) {
          background: linear-gradient(257.42deg, #009595 0%, #2d60d6 100%);
          /* boxShadow */
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03),
            0px 1px 6px -1px rgba(0, 0, 0, 0.02),
            0px 2px 4px rgba(0, 0, 0, 0.02);
          background-size: 200% 200%;
          animation: gradient 6s ease infinite;
        }
        &:nth-child(2) {
          background: linear-gradient(257.62deg, #4a00e0 -0.99%, #8e2de2 100%);
          /* boxShadow */

          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03),
            0px 1px 6px -1px rgba(0, 0, 0, 0.02),
            0px 2px 4px rgba(0, 0, 0, 0.02);
          background-size: 200% 200%;
          animation: gradient 6s ease infinite;
        }
        &:nth-child(3) {
          background: linear-gradient(257.6deg, #c77616 0.66%, #e23f29 99.38%);
          /* boxShadow */

          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03),
            0px 1px 6px -1px rgba(0, 0, 0, 0.02),
            0px 2px 4px rgba(0, 0, 0, 0.02);
          background-size: 200% 200%;
          animation: gradient 6s ease infinite;
        }
      }
    }
    .flex {
      h2,
      h3 {
        color: white;
      }
    }
  }
}
.ant-segmented-item-selected {
  background-color: #15213a !important;
  color: #ffffff;
}
.ant-segmented-item {
  color: white !important;
}

@keyframes gradient {
  0% {
    background-position: 0 100%;
  }

  50% {
    background-position: 100% 0;
  }

  to {
    background-position: 0 100%;
  }
}

@media (max-width: 1080px) {
  .home {
    &__teachers {
      .students__top {
        flex-wrap: wrap;
        .student {
          flex-basis: 30%;
        }
      }
      &-pie {
        gap: 36px;
        flex-direction: column;
        & > div {
          &:nth-child(2) {
            margin: 0;
            padding: 0;
            border: none;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .home {
    &__teachers {
      .students__top {
        gap: 16px;
        flex-direction: column;
      }
      & > .row {
        flex-direction: column;
      }
    }
  }
}
